![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [51]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [52]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [53]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [54]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [55]:
# Let's grab just one column
age_series = heart_df['age']

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [56]:
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [57]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [58]:
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [59]:
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [60]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [61]:
age_series.columns
# This will throw an error!
#single column

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [ ]:
heart_df.values

## Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [ ]:
heart_df.head()

### `.tail()` : last 5 rows

In [ ]:
heart_df.tail()
#last 5

### `.info()` : information about the columns, including about nulls in those columns

In [ ]:
heart_df.info()
#info about columns 
#non-null = no blank entries

### `.describe()` : statistics about the data

In [ ]:
heart_df.describe()

### `.dtypes` : data types of each column

In [ ]:
heart_df.dtypes

### `.shape` : number of rows and columns

In [ ]:
heart_df.shape

In [ ]:
#attribute = a piece of it / like cell above 
#method = something we do to it

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [ ]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

In [ ]:
# Now min
heart_df.min()

In [ ]:
# And max
heart_df.max()

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [ ]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url.head()

In [ ]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

In [ ]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

In [ ]:
!ls data/

In [ ]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [ ]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

In [ ]:
# Check the last 5 rows
df.tail()

In [ ]:
# Check the shape
#attribute
df.shape

In [ ]:
# Check the datatypes
df.dtypes

In [ ]:
# Check more general information on the dataframe
df.info()

In [ ]:
# Check summary/descriptive statistics on the dataframe
#looks at numeric data. In this example there is only one numeric column
df.describe()

#### Any Observations?

 - describe only works on numeric data by default

In [ ]:
# We can run describe on just the string columns! Gives a different kind of output
#shift+tab list arguments that we can pass or just google "pandas describe"
df.describe(include=[object])

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [ ]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

How can we add this to the bottom of our dataset?

In [ ]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method. (do not need it in order for it to run)

new_animal = pd.DataFrame.from_dict(next_row)
new_animal

In [ ]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
#index values do not need to be unique but it helps if they are 
df_augmented = pd.concat([df, new_animal],
                         ignore_index=True)

In [ ]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

### Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [ ]:
# Create a new column, 'test', where every value in the col is 0
df['test'] = 0

In [44]:
# Sanity check
#new column created with the value of 0
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0

But we don't need that - let's drop that column.

In [62]:
# Drop that test column
#axis 0 = rows; axis 1 = columns
df.drop(columns='test', inplace = True)
# Same as 
#df = df.drop(columns='test')

KeyError: "['test'] not found in axis"

In [68]:
# Sanity check = checking to see that what we just did actually works 
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [70]:
# Create a new column, 'Type', from the two 'Type' columns
# Have to use brackets because they is a space in between
df['Type'] = df['Intake Type'] + "" + df['Animal Type']

In [71]:
# Sanity check
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog

## Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [74]:
# Check which rows have an intake year greater than or equal to 2020
df['Year'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136758     True
136759     True
136760     True
136761     True
136762     True
Name: Year, Length: 136763, dtype: bool

In [75]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
sum(df['Year'] >= 2020)

23269

But this only gives us True/False outputs... what if we want to really filter?

### `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [77]:
# Create a subset dataframe of animals taken in during or after 2020
# functions take parentheses / .loc uses []
df_2020 = df.loc[df['Year'] >= 2020]

In [78]:
# Check it
df_2020.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,StrayCat
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,StrayCat
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,Owner SurrenderCat

We can return only certain columns when we do this, by adding an argument after the condition:

In [81]:
#works for data frames 
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df.loc[df['Year'] >= 2020, ['Animal ID', 'DateTime', 'Type']].head()

   Animal ID             DateTime                Type
7    A844350  2021-10-15 11:40:00            StrayCat
9    A818975  2020-06-18 14:53:00            StrayCat
22   A831808  2021-04-02 11:16:00  Owner SurrenderCat
24   A836850  2021-06-15 12:37:00    Public AssistDog
26   A815227  2020-03-12 13:52:00            StrayDog

In [82]:
# Same as:
#only works for .loc
df.loc[df['Year'] >= 2020][['Animal ID', 'DateTime', 'Type']]

       Animal ID             DateTime                Type
7        A844350  2021-10-15 11:40:00            StrayCat
9        A818975  2020-06-18 14:53:00            StrayCat
22       A831808  2021-04-02 11:16:00  Owner SurrenderCat
24       A836850  2021-06-15 12:37:00    Public AssistDog
26       A815227  2020-03-12 13:52:00            StrayDog
...          ...                  ...                 ...
136758   A852238  2022-02-28 14:02:00            StrayDog
136759   A852221  2022-02-28 11:05:00            StrayDog
136760   A851977  2022-02-22 13:34:00            StrayDog
136761   A852127  2022-02-25 13:05:00            StrayDog
136762   A852194  2022-02-27 13:44:00            StrayDog

[23269 rows x 3 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [85]:
df

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,StrayDog
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,StrayDog
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,StrayDog
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,StrayDog
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog

In [87]:
# Find all the Stray Cats taken in during or after 2020
df.loc[(df['Year'] >= 2020) & (df['Type'] == 'StrayCat')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,StrayCat
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,StrayCat
44,A821389,*Dim Sum,2020-08-10 14:10:00,2020,7800 San Felipe Boulevard in Austin (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Brown Tabby,StrayCat
123,A816185,NaN,2020-04-09 07:49:00,2020,1830 W Rundberg in Austin (TX),Stray,Normal,Cat,Intact Male,1 week,Domestic Shorthair,Gray Tabby,StrayCat
128,A834412,Montie,2021-05-13 13:58:00,2021,1601 East Slaughter Lane in Austin (TX),Stray,Sick,Cat,Neutered Male,5 years,Domestic Shorthair,Brown Tabby,StrayCat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136734,A852021,*Luna,2022-02-23 11:57:00,2022,Austin (TX),Stray,Normal,Cat,Intact Female,3 months,Domestic Shorthair Mix,Brown Tabby,StrayCat
136746,A850166,Rainey,2022-01-19 12:39:00,2022,South First in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Siamese,Seal Point,StrayCat
136750,A852230,NaN,2022-02-28 12:15:00,2022,Austin (TX),Stray,Normal,Cat,Unknown,5 months,Domestic Shorthair,Brown Tabby,StrayCat
136754,A852234,NaN,2022-02-28 12:33:00,2022,305 E Lola Lane in Austin (TX),Stray,Injured,Cat,Intact Female,2 years,Domestic Shorthair,Calico,StrayCat
136757,A852216,NaN,2022-02-28 10:50:00,2022,Outside Jurisdiction,Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Black/White,StrayCat

## Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [104]:
# Your code here
df.loc[(df['Intake Condition'] == 'Sick') & (df['Animal Type'] == 'Dog')]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
38,A794334,Pearl,2019-09-02 11:52:00,2019,Outside Jurisdiction,Owner Surrender,Sick,Dog,Spayed Female,3 years,Boxer Mix,White,Owner SurrenderDog
134,A818382,Cookie,2020-06-08 08:35:00,2020,4434 Frontier Trail in Austin (TX),Owner Surrender,Sick,Dog,Intact Male,1 month,Boxer,Brown/Black,Owner SurrenderDog
188,A797883,NaN,2019-06-19 07:34:00,2019,Parmer Lane in Austin (TX),Stray,Sick,Dog,Intact Female,9 months,Standard Schnauzer,Gray/White,StrayDog
199,A687473,NaN,2014-09-05 10:00:00,2014,16403 Summit in Travis (TX),Stray,Sick,Dog,Intact Male,1 month,Pit Bull Mix,Black,StrayDog
447,A768957,Sandy,2018-03-28 07:10:00,2018,W St Elmo in Austin (TX),Public Assist,Sick,Dog,Intact Female,1 year,Pit Bull Mix,Tan/White,Public AssistDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136479,A851902,NaN,2022-02-21 12:21:00,2022,North Lamar in Austin (TX),Stray,Sick,Dog,Intact Male,2 months,Border Terrier Mix,Sable,StrayDog
136501,A847280,Dottie,2022-02-22 12:30:00,2022,Austin (TX),Owner Surrender,Sick,Dog,Spayed Female,10 months,Pit Bull Mix,Black/White,Owner SurrenderDog
136526,A851765,*Darla,2022-02-18 12:14:00,2022,14100 Klaus Ln in Travis (TX),Stray,Sick,Dog,Intact Female,4 years,Treeing Tennesse Brindle Mix,Black/Brown,StrayDog
136578,A843312,Harry,2022-02-09 12:16:00,2022,8602 N Lamar in Austin (TX),Public Assist,Sick,Dog,Neutered Male,4 years,Chow Chow/Alaskan Husky,Red,Public AssistDog
136615,A852121,NaN,2022-02-25 11:01:00,2022,11717 Mcangus Road in Travis (TX),Stray,Sick,Dog,Intact Female,2 months,Pit Bull,White/Blue,StrayDog

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [112]:
# Your code here
df.loc[(df['Sex upon Intake'] == 'Intact Male') | (df['Sex upon Intake'] == 'Intact Female')

SyntaxError: unexpected EOF while parsing (<ipython-input-112-9bd7b5249cd1>, line 2)

### `.iloc`

In [ ]:
# .iloc = index location

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [88]:
df.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog

In [89]:
df.iloc[::-1]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,StrayDog
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,StrayDog
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,StrayDog
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,StrayDog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,StrayCat
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,StrayDog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,StrayDog
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,StrayDog

In [90]:
# Find the first 3 rows
# .loc 
# .iloc = index slicing
df_augmented.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White

In [91]:
# Same as using head(3)
df_augmented.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White

In [92]:
# Can look exactly where the 0 index is
df_augmented.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                            2019-01-03 16:19:00
Year                                               2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Name: 0, dtype: object

In [93]:
# But what about our subset dataframe above? It doesn't have an index 0
df_2020.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,StrayCat
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,StrayCat
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,Owner SurrenderCat
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,Public AssistDog
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,StrayDog

In [94]:
# Try it...
df_2020.iloc[0]

Animal ID                                                 A844350
Name                                                        *Ella
DateTime                                      2021-10-15 11:40:00
Year                                                         2021
Found Location      2112 East William Cannon Drive in Austin (TX)
Intake Type                                                 Stray
Intake Condition                                           Normal
Animal Type                                                   Cat
Sex upon Intake                                     Intact Female
Age upon Intake                                          6 months
Breed                                          Domestic Shorthair
Color                                                 Brown Tabby
Type                                                     StrayCat
Name: 7, dtype: object

## Series Methods

### `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [95]:
# Check the value counts for Animal Type
# Does not count nulls
df['Animal Type'].value_counts()

Dog          77098
Cat          51752
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [96]:
# Now check Breed
df['Breed'].value_counts()

Domestic Shorthair Mix               32034
Domestic Shorthair                   10440
Pit Bull Mix                          8913
Labrador Retriever Mix                7370
Chihuahua Shorthair Mix               6486
                                     ...
Bulldog/Australian Cattle Dog            1
Miniature Schnauzer/Border Collie        1
Cavalier Span/Toy Poodle                 1
Otter                                    1
Labrador Retriever/Harrier               1
Name: Breed, Length: 2734, dtype: int64

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [97]:
# It is a series method 
# Use the normalize argument to change how the count is displayed
# Gives us the percentages
df['Breed'].value_counts(normalize=True)

Domestic Shorthair Mix               0.234230
Domestic Shorthair                   0.076336
Pit Bull Mix                         0.065171
Labrador Retriever Mix               0.053889
Chihuahua Shorthair Mix              0.047425
                                       ...
Bulldog/Australian Cattle Dog        0.000007
Miniature Schnauzer/Border Collie    0.000007
Cavalier Span/Toy Poodle             0.000007
Otter                                0.000007
Labrador Retriever/Harrier           0.000007
Name: Breed, Length: 2734, dtype: float64

### `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [98]:
# Let's sort the year column
df['Year'].sort_values()

13061     2013
31112     2013
74446     2013
82804     2013
118202    2013
          ...
135555    2022
135554    2022
135553    2022
135566    2022
136762    2022
Name: Year, Length: 136763, dtype: int64

In [99]:
# Now, sort the Animal Type col
df['Animal Type'].sort_values()

57316      Bird
79944      Bird
10022      Bird
130286     Bird
105888     Bird
          ...
65050     Other
123407    Other
94470     Other
94463     Other
41614     Other
Name: Animal Type, Length: 136763, dtype: object

In [102]:
# We can do this on the whole dataframe, it just needs to know what to sort by
df.sort_values(by='Year')

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
13061,A667397,*Gaby,2013-11-17 13:51:00,2013,710 East Ben White Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair,Tricolor,StrayDog
31112,A667458,Chino,2013-11-18 13:19:00,2013,8401 Research Blvd. in Austin (TX),Stray,Normal,Dog,Intact Male,9 months,Pit Bull Mix,Tan/White,StrayDog
74446,A612281,Luna,2013-12-20 13:37:00,2013,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,3 years,Catahoula Mix,Brown Merle/White,Owner SurrenderDog
82804,A661693,Dino,2013-12-29 15:56:00,2013,Austin (TX),Public Assist,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/Tan,Public AssistDog
118202,A666273,*Jasmine,2013-10-29 16:16:00,2013,1310 Byers in Austin (TX),Stray,Normal,Dog,Spayed Female,2 years,Boxer/Pit Bull,Brown/White,StrayDog
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135555,A849089,*Leon Redbone,2022-01-02 08:02:00,2022,4434 Frontier Trail in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Redbone Hound/Greyhound,Brown,StrayDog
135554,A850252,*Bellabelle,2022-01-21 08:00:00,2022,Austin (TX),Stray,Sick,Dog,Intact Female,1 year,Labrador Retriever,Black/White,StrayDog
135553,A770617,*Batgirl,2022-01-20 16:25:00,2022,Austin (TX),Owner Surrender,Normal,Dog,Spayed Female,6 years,Pit Bull Mix,Fawn/White,Owner SurrenderDog
135566,A850439,Chai,2022-01-24 15:35:00,2022,Austin (TX),Owner Surrender,Normal,Other,Intact Male,7 months,Guinea Pig,White/Tricolor,Owner SurrenderOther
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,StrayDog

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.